*{
    background-color: lightgray;

}

#img-div {
    background-color: white;
    text-align: center;

}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;

}

.center {
    text-align: center;
}

#img-caption {
background-color: white;
text-align: center;
}

ul {
max-width: 550px;
margin: 0px auto 50px auto;
}

p {
text-align: center;

}
a {
    text-align: center;
    
    }